body{
    font-family: Noto Sans;
    img{
        display: block;
    }
    a{
        text-decoration: none;
    }
}

.navbar{
    width: 1296px;
    margin: 0 auto;
    display: flex;  
    height: 96px;
    border-bottom: 1px solid #f1f1f1;
    align-items: center;
    justify-content: space-between;
    .menu{
        display: none;
    }
    ul{
        display: flex;
        align-items: center;
        margin-right: 25%;    
    li{
        padding: 4px 8px;
        margin-right: 40px;
        text-align: center;
        a{
            color: #000;
            line-height: 24px;
            &:hover{
                font-weight: 600;  
            }
        }
     }
    }
}

@media (max-width:375px) {
    .navbar {
        width: 98%;
        height: auto;
    .menu{
        display: block;
        position: relative;
        .close{
            display: none;
        }
    }
   .navbar-list{
       display: block;
       width: 95%;
       position: absolute;
       right: -75px;
       top: 70px;
       li{
        width: 100%;

       }
    }
    .menu-close{
        display: none;
    }
    }
   
}
.header{
    background-color: #fafafa;
    .header-content{
        width: 30%;
        margin: 0 auto;
        padding: 80px 0;
        h2{
            text-align: center;
            font-size: 24px;
            line-height: 28.8px;
            color: #1E1E1E;
        }
        .icon-l{
            font-size: 50px;
            color: #e9e9e9;
            display: block;
        }
        .icon-r{
            font-size: 50px;
            color: #e9e9e9;
            display: block;
            text-align: right;
        }
        ul{
            margin-top: 24px;
            display: flex;
            li{
                text-align: center;
                margin-right: 40px;
                line-height: 24px;
                font-weight: 400;
                h4{
                  color: #5b5b5b;
                }
                p{
                    margin-top: 8px;
                    color: #3b3b3b;
                }
            }
        }
    }
    
}

@media (max-width:375px) {
    .header  .header-content{
        width: 80%;
        .icon-l{
            text-align: center;
        }
        .icon-r{
            text-align: center;
        }
        ul{
        margin-top: 40px;
        display: block;
        li{
            width: 235px;
            padding-top: 20px;
            margin-right: 0px;
            margin: 0 auto;
        }
     }
    }
}

.project-list{
    width: 1296px;
    margin: 0 auto;
    ul {
     margin-top: 120px;
        li{
            float:left;
            width: 48%;
            margin-right: 24px;
            margin-bottom: 80px;
            a{
            img{
                width: 100%;
                border-radius: 8px;
            }
            .list-detail {
                margin-left: 16px;
                margin-top: 24px;
                h3{
                    text-align: left;
                    font-size: 32px;
                    margin-bottom: 8px;
                    font-weight: bold;
                    color: #3B3B3B;
                    line-height: 33.6px;
                    padding: 0;
                }
                p{
                    color: #919191;
                    line-height: 24px;
                 }
                 .tag-list{
                   margin-top: 24px;
                   display: flex;
                   width: 50%;
                   li {
                     margin-right: 10px;
                     background: #F1F1F1;
                     color: #3B3B3B;
                     border-radius: 16px;
                     text-align: center;  
                     padding: 12px 4px ;   
                   }
                 }
             }
            }
        }
    }
}

@media (max-width:375px) {
    .project-list{
        width: 94%;
        margin: 0 auto;
        ul{
            li{
                width: 100%;
                margin-bottom: 40px;
                a{
                    .list-detail .tag-list {
                        width: 100%;
                    }
                }
            }
        }
    }
   
}
.clearfix{
    clear: both;
}
.pagination{
    margin-bottom: 120px;
    ul{
        display: flex;
        justify-content: center;
        li{
            text-align: center;
            a{
                display: inline-block;
                font-size: 24px;
                line-height: 36px;
                padding: 0px 12px;
                border-radius: 4px;
                color: #3B3B3B;
                &:hover{
                    background: #000;
                    color: #FFFFFF;
                }
            }
        }
    }
}
@media (max-width:375px) {
    .pagination{
        margin-bottom: 80px;
    } 
}
.footer{
    overflow: hidden;
    background-color: #fafafa;
    height: 424px;
    position: relative;
    .circle1{
        border: 5px dashed #D9D9D9;
        width: 813px;
        height: 813px;
        border-radius: 50%;
        position: absolute;
        top: -91px;
        left: -44px;

        .circle2{
            width: 49px;
            height: 49px;
            border-radius: 50%;
            background-color: #828282;
            opacity: 0.11;
            position: absolute;
            top: 100px;
            left: 675px;
        }
        .circle3{
            width: 241px;
            height: 241px;
            border-radius: 50%;
            background-color: #828282;
            opacity: 0.11;
            position: absolute;
            top: 392px;
            left: 34px;
        }
    }
        .circle4{
           
            border: 5px dashed #D9D9D9;
            width: 562px;
            height: 562px;
            border-radius: 50%;
            position: absolute;
            bottom: 27px;
            right: -16px;
            
            .circle5{
                width: 49px;
                height: 49px;
                border-radius: 50%;
                background-color: #828282;
                opacity: 0.11;
                position: absolute;
                bottom: -49px;
                right: 651px;
            }
            .circle6{
                width: 94px;
                height: 94px;
                border-radius: 50%;
                background-color: #828282;
                opacity: 0.11;
                position: absolute;
                bottom: 69px;
                right: 17px;
                
            }
        }

    .info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
    .info-content{
        h3{
           font-weight: bold;
           margin-bottom: 24px;
           font-size: 50px;
        }
        p{
            font-size: 20px;
            line-height: 30px;
            color: #3B3B3B;
        }
        a{
            font-size: 20px;
            line-height: 24px;
            color: #919191;
            display: block;
            padding-top: 24px;
        }
    }
    ul{
        z-index: 3;
        li{
            width: 306px;
            height: 72px;
            border: 1px solid #C1C1C1;
            margin-bottom: 24px;
            border-radius: 8px;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            background-color: #fff;
            color: #3B3B3B;
            &:hover{
                background-color: #000;
                color: #FFFFFF;
            }
            .item{
                display: flex;
                padding-left: 8px 8px 8px 24px;
                .icon{
                    font-size: 56px;
                    padding: 8px 24px ;
                    display: block;
                }
                p{
                    text-align: center;
                    font-size: 20px;
                    line-height: 30px;
                    font-weight: 700;
                    padding-top: 21px;
                }
            }
            
        }
        
    }
}
}

@media (max-width:375px) {
    .footer {
        height: auto;
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-sm.png?raw=true);
        .info{
    display: block;
    text-align: center;
  ul {
    width: 81%;
    margin: 0 auto;
    margin-top: 40px;
}
    }
}
}